body {
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}
main {
    flex-direction: column;
    width: 100vw;
    height: 100%;
}
main header {
    background-color: #FEF1E7;
    height: 20%;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 100px;
}
main section {
    background-color: #FA6138;
    height: 100%;
}
h1 {
    font-weight: 300;
}
h2 {
    font-size: 34px;
    margin: 0;
    font-weight: 300;
}
p {
    text-align: left;
    color: #757575;
}
main section a {
    color: inherit;
    text-decoration: none;
}
.btn_modal {
    width: 130px;
    height: 60px;
    border-radius: 2px;
    margin: 20px;
    font-size: 14px;
    color: unset;
    background-color: #FEF1E7;

}
.btn_modal:hover {
    background-color: #dddddd;
}
.section_modal {
    position: relative;
}
.modal {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    max-width: 520px;
    max-height: 600px;
    overflow: scroll;
    box-shadow:  -2px 3px 15px 0px #565656c9;
    border-radius: 4px;
    padding: 25px 20px;
    transform: scale(0);
    opacity: 0;
    animation-name: modal-open;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.modal:target{
    display: flex;
    transform: translateY(0);
    opacity: 1;
}
#home:target iframe {
    display: none;
}
.modal_body {
    margin: 35px 0;
    overflow: scroll;
}
.modal_header {
    justify-content: space-between;
    align-items: center;
}
.btn_close {
    width: 40px;
    height: 40px;
    font-size: 26px;
    font-weight: 300;
    color: #fff;
    background: #c9c9c9;
    border-radius: 50%;
    transition:all .5s ease-in-out;
}
.btn_close:hover {
    background-color: #aaa9a9;
}
.modal span {
    margin: 35px 0 0;
    font-size: 18px;
    font-weight: 300;
}
.image {
    max-height: 300px;
    object-fit: contain;
}
img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}
.flex {
    display: flex
}
.center {
    justify-content: center;
    align-items: center;
}
.cursor {
    cursor: pointer;
}
.color_font {
    color: #4a4949;
}

/* Animation */

@keyframes modal-open {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  /* Media queries */

  @media only screen and (max-width: 600px) {

    main header {
        padding: 20px;
        justify-content: center;
    }
    .btn_container {
        flex-direction: column;
    }
    .section_modal {
        position: unset;
    }
    .modal {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        max-height: none;
        max-width: none;
        box-sizing: border-box;
    }
    #modal_container {
        width: 100%;
    }
    #modal_container iframe {
        width: fit-content;
    }
  }