@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* resources/css/app.css */
.carousel-slide {
    display: none;
}

.carousel-slide.active {
    display: block;
}
.hero-image {
    background-image: url('../../public/assets/hero.jpg');
    height: 60vh;
}
.bg-pattern {
    background-image: url('../../public/assets/pattern.png');
    background-repeat: repeat;
}
.bg-pattern-footer {
    background-image: url('../../public/assets/pattern-footer.png');
    background-repeat: repeat;  
}